.body{
    background: #ffffff;
}

.wrapper{
    display: flex;
    align-items: stretch;
}

#sidebar{
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active{
    margin: -250px;
}

#sidebar .sidebar-header{
    padding-left: 50px;
    padding-top: 50px;
    justify-content: center;
}

#sidebar ul.components{
    padding: 20px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    text-decoration: none;
    color: black;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #ffffff;
}

#content{
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

@media (max-width: 768px){
    #sidebar{
        margin-left: -250px;
    }
    #sidebar.active{
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}